<h2>Edit <%= current_user.name %> profile</h2>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>

    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>

    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.label :birthday %><br />
    <%= date_select :user, :birthday, start_year: 1920 %>

    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "male" %> 
    <%= f.label :gender_male, "Male" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender_female, "Female" %>

    <%= f.label :image %><br />
    <%= f.file_field :image %>

    <%= f.submit "Update" %>
