<h1><%= @user.name.titleize %> profile:</h1>

<% if @user == current_user %>
<% elsif !(@user.friends.include?(current_user)) %>
  <%= link_to 'Send friend request', friend_requests_path(user_id: @user.id), method: :post %>
<% elsif @user.friends.include?(current_user) %>
  <%= link_to 'Delete friend', friendship_path(user_id: @user.id), method: :delete %>
<% end %>

<h2>Friends:</h2>
<% @user.friends.each do |friend| %>
  <%= link_to friend.name.titleize, user_path(friend) %><br />
<% end %>

<h2>Posts:</h2>
<%= render partial: 'posts/posts_loop', locals: { posts: @user.posts } %>
