<% posts.each do |post| %>
  <p>Author: <%= link_to post.user.name.titleize, user_path(post.user) %></p>
  <p>Post: <%= post.body %></p>
  <%= render partial: "posts/likes", locals: { post: post } %>
  <%= render partial: "posts/edit_delete", locals: { post: post } %>

  <h3>Comments:</h3>
  <% comment = Comment.new %>
  <%= render partial: "comments/form", locals: { comment: comment, post: post } %>
  <%= render partial: "posts/comments", locals: { post: post } %>
  <br />
<% end %>
